.wrapper {
    width: 1920px;
    height: 4160px;
    background: #292828;
}

.wrapper h1 {
    position: absolute;
    color: white;
    top: 180px;
    left: 16%;
}

.wrapperNews {
    position: absolute;
    left: 16%;
    width: 61%;
    top: 320px;
}

.line {
    position: absolute;
    width: 200px;
    border: 3px solid darkorange;
}

.wrapperNews p, .wrapperNews h3 {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    color: white;
    line-height: 40px;
    font-size: 20px;
}

.wrapperNews h3 {
    padding-top: 20px;
    color: darkorange;
}