.App {
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    width: 1920px;
    height: 4160px;
    margin: 0 auto;
}
.wrapperProfile{
    width: 1920px;
    height: 1000px;
    background: green;
}